/************
* Variables
************/

:root {
    --icon-change: blue;
    --icon-search: turquoise;
    --icon-film: #dfdddd;
    --icon-star: #fec654;
}

// .minus {
//     mask: url(../images/minus.svg);
// }

// .plus {
//     mask: url(../images/plus.svg);
// }

// .search {
//     mask: url(../images/search.svg);
// }

// .icon {
//     display: inline-block;
//     width: 70px;
//     height: 70px;
//     background: black;
//     mask-size: cover;
//     color: pink;
// }

// .icon:hover,
// .icon:focus {
//     background: red;
// }

// svg {
//     color: turquoise;
// }

// // object {
// //     color: azure;
// //     fill: azure;
// // }

// // div {
// //     color: blue;
// //     // background-color: blueviolet;
// // }

// body {
//     background-color: red;
// }
